* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #B2BEB5;
}

/* Header (Navigation bar) css */

header {
  width: 100%;
  padding: 17px 20px;
  background-color: #36454F;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.588);
  margin-bottom: 70px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
nav .logo {
  font-size: 37px;
  font-weight: bolder;
  color: #E5E4E2;
}

nav .menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  /* padding-top: 10px;  */
}

nav .menu li a {
  text-decoration: none;
  color: #E5E4E2;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.link-items a:hover{
  color: #E5E4E2;
  text-shadow: 2px 2px 5px #B2BEB5;
}

#menuBtn, #closeBtn {
  cursor: pointer;
  font-size: 23px;
  display: none;
  color: #E5E4E2;
}

@media (max-width: 992px) {
  /* Responsive Navbar */
    nav .menu {
    display: none;
    }

    #menuBtn {
      display: block;
    }

    header {
      position: relative;
    }
    nav .menu {
      flex-direction: column;
      position: absolute;
      top: 77px;
      left: 0px;
      background-color: #36454F;
      width: 50%;
      padding: 15px 0;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.588);
      text-align: center;
    }
    nav .menu li {
      margin: 20px 0px;
    }
}

/* Contact page css */

.contact-heading {
  text-align: center;
  margin-bottom: 30px;
  color: #353935;
}
.contact-heading h1 {
  font-size: 45px;
  margin-bottom: 10px;
}
.contact-heading p {
  font-size: 18px;
  margin-bottom: 20px;
}

main {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.container {
  /* background-color: #5a5a5a; */
  max-width: 1000px;
  /* width: 100%; */
  width: 100%;
  display: flex;
  /* padding: 15px 30px; */
  margin-bottom: 100px;
}

.contact-form {
  max-width: 600px;
  width: 100%;
  padding: 20px 20px 30px; 
  background-color: #71797E;
  border-radius: 0 10px 10px 0;
}

/* form in grid */
.user-info {
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 50px;
  
}

.input-boxes {
  padding: 5px 10px;
}
.input-boxes label p {
  color:#FFFFF0;
}

.msg{
  grid-column: 1/3;
}
.send-btn{
  grid-column: 1/3;
}

.input-boxes input,select,textarea {
  width: 100%;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 5px;
  /* color: #343434; */
  border: none;
}
.opt-colr {
  color: #71797E;
}
.input-boxes input,select {
  height: 45px;
  
}
.input-boxes textarea {
  height: 130px;
  padding: 10px 15px;
}

.input-boxes button {
  width: 100%;
  height: 100%;
  font-size: 15px;
  border-radius: 5px;
  color: #353935;
  border: none;
}

.input-boxes label p {
  font-size: 18px;
  margin-bottom: 5px;
}

@media (max-width: 720px) {
  .user-info {
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,1fr) 2fr 50px;;

}
.name {
  grid-column: 1/3;
}
.email {
  grid-column: 1/3;
}
.phone {
  grid-column: 1/3;
}
.type {
  grid-column: 1/3;
}


}


.contact-info{
  background-color: #36454F;
width: 400px;

  padding: 20px 20px;
  border-radius: 15px 0 0 15px; 
}
.contact-info h2 {
  margin-bottom: 10px;
  color: #E5E4E2;
}
.contact-medium i {
  color: #E5E4E2;
  font-size: 18px;
  height: 40px;
  width: 40px;
  background-color: #6082B6;
  border-radius: 50%;
  padding: 10px;
  margin: 5px 5px 5px 0;
}
.contact-medium a {
  color: #E5E4E2;
  text-decoration: none;
}
address {
  color: #E5E4E2;
}

@media (max-width: 720px) {
  .container {
   flex-direction: column;
   align-items: center;
   gap: 20px;
  }
  .contact-form {
    border-radius: 10px;
    max-width: 400px;
    padding: 25px 20px 25px;
  }
  .contact-info{
    order: 1;
    max-width: 400px;
    border-radius: 10px;
  }

  .input-boxes {
    padding: 5px 10px;
  }
  .input-boxes input,select {
  height: 40px;
  font-size: 14px;
}
.input-boxes label p {
  color:#FFFFF0;
  font-size: 16px;
}

}

/* footer section css */

footer {
  background-color: #36454F;
  padding: 70px 25px 40px;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
  
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.about {
  width: 50%;
  padding-right: 50px;
}
.services {
  width: 25%;
}
.media {
  width: 25%;
} 

.footer-profile {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.footer-profile h4 {
  padding-top: 15px;
}
.footer-profile img {
  height: 60px;
  width: 60px;
  background-color: #fff;
  border-radius: 50%;
}

#fp-name {
  font-size: 25px;
  color: #E5E4E2;
}
.footer-col p {
  color: #a0a0a0;
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 10px;
}

.footer-btn {
  display: flex;
  gap: 15px;
}
.footer-btn button {
  padding: 5px 8px;
  border-radius: 25px;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFF0;
  border: none;
}

.footer-col h4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #E5E4E2;
  font-weight: bold;
} 
ul {
  list-style: none;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #a0a0a0;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 19px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #E5E4E2;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.footer-col .social-links #fb:hover {
  background-color: #1877F2;
  color: #E5E4E2;
}
.footer-col .social-links #insta:hover {
  background-color: #FF0069;
  color: #E5E4E2;
}
.footer-col .social-links #whp:hover {
  background-color: #25D366;
  color: #E5E4E2;
}
.footer-col .social-links #yt:hover {
  background-color: #FF0000;
  color: #E5E4E2;
}
.footer-container hr {
  margin: 25px 0 15px;
}

.copyright {
  color: #a0a0a0;
  text-align: center;
}

@media (max-width: 720px) {
  footer {
    padding: 40px 25px 25px;
  }  
  .footer-col {
      width: 100%;
      margin-bottom: 30px;
    }
  
}